@{
    ViewBag.Title = "About";
}


<h1><center>Welcome!</center></h1>

<p>Hello I'm Felicia! 
    I was born and raised in a small town outside of Boston Massachusetts. In the winter of 2015
     ( also known as Snowmaggedeon up North)
     myself and
    my children relocated to just outside of Charlotte North Carolina for a change.
     After two years we are still absolutely in love with our choice and couldn't imagine living anywhere else!
    I have owned my own photography business for seven years and while I don't take on as much client work as I
    used to I still use it as a creative outlet and a way to capture my children and love ones. You can see some
    of my photography work at www.feliciamcternan.com
    </p>
