@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    Charlotte NC <br />
    <abbr title="Phone">P:</abbr>

   774.271.0947 
    <abbr title="email"</abbr>
    hello@feliciamcternan.com
</address>

